
.loading__container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
}

.image__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.loading__image {
    width: 130px;
    position: relative;
    z-index: 1;
}

.mask__container{
    width: 80px;
    height: 100px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.mask {
    bottom: 5px;
    height: 0;
    position: absolute;
    background-color: green;
    width: 100%;
}
.canvas-container{
    min-height: 100vh;
}

.players__container{
    position: fixed;
    width: 100%;
    height: 100px;
    // background-color: red;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
}

.players__container .player__ui {
    width: 50%;
    // height: 50px;
    // background-color: blue;
    // margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player__ui .player__lifes{
    width: 200px;
    height: 100vh;
    // background-color: green;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.player__lifes .single__life{
    width: 30px;
    height: 30px;
    // background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.single__life img{
    width: 30px;
    height: 30px;
    position: absolute;
}
.player__ammunition{
    position: absolute;
    top: 70%;
    right: 0;
    width: 100px;
    height: 100px;
}
.ammunition__number{
    // position: absolute;
    font-family: impact;
    color: #58452A;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #BAA68D 0%, rgba(252,201,80,1) 92%);
}
.image__donkey{
    position: absolute;
    top: -60%;
    left: 5px;
    transform: rotate(10deg);
}
.image__donkey img{
    width: 70px;
    height: 70px;
}
